.kai-signa {
  display: grid;
  grid-template-columns: 200px 300px;
  gap: 10px; 
  width: 410px; 
  margin-left: 20px;
  margin-top: 10px;
}

.kai-signa img {
  border: 1px solid var(--outline);
  width: 200px; 
  object-fit: cover;
}

.kai-signa sub {
  line-height: 1.2;
}
